.completed-navbar {
    display: flex;
    justify-content: space-between;
   padding: 0px 10px;
    color: white;
    background-color: #282828;
    align-items: center;
    z-index: 4444;
    height: 75px;
    font-size: large;
    box-shadow: none;
    position: relative;
  }
  
  .completed-nb-contents {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .completed-nb-fullName {
    margin-left: 30px;
  }
  
  .completed-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Spacing between the buttons */
  }
  
  .completed-content-button {
    background-color: #1a1a1a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding: 0 10px; /* Add padding for better spacing */
  }
  
  .completed-content-button:hover {
    cursor: pointer;
    background-color: #1a1a1aab;
  }
  
  .completed-student-button {
    background-color: #4caf50;
  }
  
  .completed-allot {
    background-color: #4caf50;
  }
  
  .completed-student-button:hover,
  .completed-allot:hover {
    background-color: #4caf4f69;
  }
  
  .completed-allot-marks {
    display: flex;
    align-items: center;
  }
  
  .completed-nb-marksAllocation {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .completed-nb-marksAllocation [type="tel"] {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    border: 1px solid black;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  