/* question.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333333;
  color: white;
  display: grid;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #404040;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #656565;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 48%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #e9ecef;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  color: black;
}

.preview-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}
