.forgot-container-main{
    background-color: #1a1a1a;
 display: flex;
 align-items: center;
 justify-content: center;
min-height: 100vh;
}
.forgot-container
{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px white;
    border-radius: 8px;
    background-color: #282828;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.forgot-container img
{
    width: 100px;
    height: 100px;

}
.forgot-container h2
{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    color: #fffcfc;
}
.forgot-container form
{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.forgot-container label
{

    color: #fffcfc;
}
  
.forgot-container input
{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    width: 93%;
    background-color: #4d4d4d;
    color: white;
}
.forgot-container button
{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width:720px)
{
    .forgot-container
    {
        width: 270px;
    }
}