.compiler-test {
  width: 100%;
  background-color: #282828;
  height: 21%;
  min-height: 50px;
  min-width: 125px;
  margin: 5px 10px 0px 5px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.test-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1a1a1a;
  height: 50px;
  gap: 5px;
}

.test-output {
  padding: 5px 11px;
  white-space: pre-wrap;
  width: 92%;
  overflow-wrap: break-word; 
}
.test-output .stdout-output {
  color:#cccc;
  font-family: monospace;
}
.stdout-output p{
  line-height: 1;
}

.test-output .stderr-output {
  color: #d20000;
  font-family: monospace;
}
.stderr-output p{
  line-height: 1;
}