.compiler-body
{ 
    height: 90vh;
    display: flex;
    background-color: #0a121e;
}
.body-contents
{
    width: 28.5%;
    overflow-x: hidden;
}
.body-contents-small
{
    background-color: rgb(212 225 245 / 48%);;
    border-radius: 10px;
    position: relative;
    margin-top: 9px;
}
.body-contents-small p
{
    font-size: 50px;
    transform: rotate(90deg);
    position: absolute;
    top: 35%;
    right: 0%;
}
