.question-list-container-main{
    background-color: #282828;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}
.question-list-container
{
    width: 100%;
}
.no-questions-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.question-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}  
.question-subject
{
    margin-left: 20px;
    padding-bottom: 5px;
}
.question-total-marks
{
    margin-right: 20px;
}
.question-table
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.question-table-data
{
    background-color: #333333;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
    z-index: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    text-align: left;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    border: none;
    position: relative;
    gap: 4px;
    height: 125px;
}
.questions-table
{
    position: relative;
    margin: 20px;
    font-size: large;
}
.compiler
{
    color: #ff6206;
}
.marks
{
    color: rgb(4, 231, 4);
}
.question_paper_h3{
    margin: 0px;
}
.description
{
    line-clamp: 2;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.question-image
{
    position: absolute;
   
    right: 10px;
}
.question-image img
{
    width: 250px;
    height: 125px;
}
.add-question-button
{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #282828;
    color: white;
    border: 1px solid #282828;
}
.add-margin
{
    margin: 20px;
}
.add-question-button:hover
{
    cursor: pointer;
    background-color: #28282880;
}
.add-question-button2:hover
{
    cursor: pointer;
    background-color: #33333394;
}
.add-question-button2
{
    background-color: #333333;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #333333;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: large;
}
.nothing
{
    width: 100%;
}
.question_submit-button{
width: 200px;
height: 50px;
border-radius: 5px;
border:1px solid rgb(0, 0, 0);
font-size: 18px;
}
@media(max-width : 1000px)
{
    .description
    {
        width: 70%;
    }
}
@media(max-width:743px)
{
    .no-questions-container
    {
        width: 275px;
    }
    .question-header
    {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .description
    {
        width: 60%;
    }
    .question-image
    {
        bottom: 50px;
    }
    .question-image img
    {
        width: 100px;
        height: 100px;
    }
}
.error_message_questionDashboard{
    text-align: center;
    color: red;
}