.question-list-container
{
    width: 100%;
}
.no-questions-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.question-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}  
.question-subject
{
    margin-left: 20px;
    padding-bottom: 5px;
}
.question-total-marks
{
    margin-right: 20px;
}
.question-table
{
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.question-table-data
{
    background-color: #333333;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
    z-index: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    text-align: left;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    border: none;
    position: relative;
    gap: 4px;
    height: 125px;
}
.question-table-data:hover{
    background-color: #404040;
}
.questions-table
{
    position: relative;
    margin: 20px;
    margin-bottom: 50px;
    font-size: large;
}
.compiler
{
    color: #ff6206;
}
.marks
{
    color: rgb(4, 231, 4);
}
.description,
.question_paper_h3 
{
    width: 80%; /* Adjust the width as needed */
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis; /* Ensures the '...' is shown */
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;
    word-wrap: break-word; /* Prevents overflow */
}
.question_paper_h3
{
    margin:0;
}
.question-image
{
    position: absolute;
   
    right: 10px;
}
.question-image img
{
    object-fit: contain;
    width: 250px;
    height: 125px;
}
.add-question-button
{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #282828;
    color: white;
    border: 1px solid #282828;
}
.add-margin
{
    margin: 20px;
}
.add-question-button:hover
{
    cursor: pointer;
    background-color: #28282880;
}
.add-question-button2:hover
{
    cursor: pointer;
    background-color: #33333394;
}
.add-question-button2
{
    background-color: #333333;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #333333;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: large;
}
.nothing
{
    width: 100%;
}
.question_submit-button{
width: 200px;
height: 50px;
border-radius: 5px;
background-color: #45a049;
color: white;
border:1px solid rgb(0, 0, 0);
font-size: 18px;
}
.question_submit-button:hover
{
    background-color: #45a04970;
    cursor: pointer;
}
@media(max-width : 1000px)
{
    .description,.question_paper_h3
    {
        width: 70%;
    }
}
@media(max-width:743px)
{
    .no-questions-container
    {
        width: 275px;
    }
    .question-header
    {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .description,.question_paper_h3
    {
        width: 60%;
    }
    .question-image
    {
        bottom: 50px;
    }
    .question-image img
    {
        width: 100px;
        height: 100px;
    }
}
.error_message_questionDashboard{
    text-align: center;
    color: red;
}

/* ------------------------------------------------------ready question ----------------------------------*/

.ready-question-display-flex
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.ready-question-display-flex:first-child
{
    margin-right: 20px;
}