.change-container-main{
    background-color: #1a1a1a;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}
.change-container
{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px white;
    border-radius: 8px;
    background-color: #282828; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.change-container img
{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.change-container h2
{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    color: #fffcfc;
}
.change-container form
{   
    width: 75%;
    display: flex;
    flex-direction: column;
}
.change-container label
{
 
    color: #fffcfc;
}
  
.change-container input
{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    width: 93%;
    background-color: #4d4d4d;
    color: white;
}
.change-container button
{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.input-password
{
    position: relative;
}
.eye-icon,.eye-icon-slash
{   color: #ccc;
    position: absolute;
    right: 10px;
    top: 22px;
}
.eye-icon:hover,.eye-icon-slash:hover
{
    cursor: pointer;
}
@media (max-width:720px)
{
    .change-container
    {
        width: 270px;
    }
}