/* src/Login.css */
body {
    background-color: #1A1A1A;
    margin: 0;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px white;
    border-radius: 8px;
    background-color: #282828;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .login-container img {
 
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
   
    
  }
  
  .login-container h2 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fffcfc;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 8px;
    color: #fffcfc;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    width: 92%;
    background-color: #4d4d4d;
    color: white;
  }
  
  .login-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  @media (max-width:768px) {
    .login-container{
      width: 270px;
    }
    
  }