.create-paper-container {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0px auto;
    position: relative;
    color: white;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
  }

  .create-paper-container .form-label {
    color: white;
  }
  
  .create-paper-container .form-control {
    background-color: #383838;
    color: white;
    border: none;
  }
  
  .create-paper-container .form-control::placeholder {
    color: #cccccc;
  }
  
  .create-paper-container .form-control:focus {
    box-shadow: none;
    background-color: #5a5858;
    color: white;
  }
  
  .create-paper-container .form-select {
    background-color: #5a5858;
    color: white;
    border: none;
  }
  
  .create-paper-container .btn-dark {
    margin-top: 20px;
    background-color: #000000;
    border: none;
    padding: 10px;
    font-weight: bold;
  }
  .create-paper-container .form-control[type="date"]::-webkit-calendar-picker-indicator,
  .create-paper-container .form-control[type="time"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
  }
  
