.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #282828;
    align-items: center;
    height: 75px;
    font-size: large;
    box-shadow: none;
}

.navbar-contents {
    display: flex;
    gap: 15px;
}

.navbar-left-margin {
    margin-left: 40px;
}

.navbar-right-margin {
    margin-right: 40px;
}

.pfp {
    margin-top:-5px;
    border-radius: 50%;
}

.navbar-links,
.navbar-logout {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    color: white;
    margin-top:5px;
    cursor: pointer;
}

.navbar-ready
{
    width:200px;
}

.navbar-links.active {
    background-color: #4caf50;
    border-radius: 10px;
    border: 2px solid white;
    color: #000000;
}

.navbar-logout {
    margin-top: 10px;
    background-color: #282828;
}

.navbar-logout:hover {
    border-radius: 10px;
    background-color: red;
    border: 2px solid #1a1a1a;
    transition: all 1s;
}

.navbar-menu {
    display: none;
}

.navbar-sidebar {
    width: 100%;
    position: relative;
    transform: translate(100%);
    background: #313030;
    transition: all 1s;
    padding: 12px 0 5px;
    margin-top: 2px;
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 720px) {
    .navbar {
        box-shadow: 4px 4px 5px white;
    }

    .navbar-menu {
        display: block;
    }

    .navbar-displayed {
        display: none;
    }

    .navbar-logout-menu,
    .navbar-links {
        background-color: #313030;
        width: 100%;
        justify-content: left;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.253);
        margin-left: -15px;
    }
    .navbar-logout-menu
    {
        color: red;
    }

    .navbar-sidebar {
        display: block;
    }
    .navbar-logout-menu:hover
    {
        border:none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.253);
        background: #313030;
    }
}
