/* General styles */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #282828;
    align-items: center;
    height: 75px;
    font-size: large;
    box-shadow: none;
    position: relative; 
}

.navbar-contents {
    display: flex;
    gap: 15px;
}

.navbar-left-margin {
    margin-left: 40px;
}

.navbar-right-margin {
    margin-right: 40px;
}

.pfp {
    margin-top: -5px;
    border-radius: 50%;
}

.navbar-links,
.navbar-logout {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.navbar-ready {
    width: 200px;
}

.navbar-links.active {
    background-color: #4caf50;
    border-radius: 10px;
    border: 2px solid white;
    color: #000000;
}

.navbar-logout {
    margin-top: 10px;
    background-color: #282828;
}

.navbar-logout:hover {
    border-radius: 10px;
    background-color: red;
    border: 2px solid #1a1a1a;
    transition: all 1s;
}

.navbar-menu {
    display: none;
}

.navbar-sidebar {
    width: 100%;
    position: fixed;
    top: 75px; 
    right: 0;
    transform: translateX(100%);
    background: #313030;
    transition: transform 0.4s ease-in-out; 
    padding: 12px 0 5px;
    z-index: 22;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.icon-container.open {
    transform: rotate(90deg); 
}

@media (max-width: 720px) {
    body {
        overflow-x: hidden; 
    }

    .navbar {
        box-shadow: 2px 2px 10px rgb(0, 0, 0);
    }

    .navbar-menu {
        display: block;
    }

    .navbar-displayed {
        display: none;
    }

    .navbar-logout-menu,
    .navbar-links {
        background-color: #313030;
        width: 100%;
        justify-content: left;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.253);
        margin-left: -15px;
    }

    .navbar-logout-menu {
        color: red;
    }

    .navbar-sidebar {
        display: block;
        height: 100vh; 
        overflow-y: auto; 
    }

    .navbar-logout-menu:hover {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.253);
        background: #313030;
    }
}
