.navbar-tanishq
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #282828;
    align-items:center ;
    height: 75px;
    font-size: large;
}
.pfp
{
    border-radius: 50%;
}
.contents-tanishq
{
    display: flex;
    gap: 15px;
    align-items: center;
}
.papers-tanishq
{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #4caf50;
    border-color: #4caf50;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    font-size: large;
    font-weight: 600;
}
.logout-tanishq
{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #1a1a1a;
    border-style: solid;
    border-width: 2px;
    background-color: #1a1a1aa1;
    font-size: large;
    font-weight: 600;
    color: white;
}
.logout-tanishq:hover
{
    background-color: red;
}
.left-margin-tanishq
{
    margin-left: 40px;
}
.right-margin-tanishq
{
    margin-right: 40px;
}
@media(max-width:720px)
{
    .logout-tanishq
    {
        width:75px;
        font-size: medium;
    }
    .navbar-tanishq
    {
        font-size: medium;
        justify-content: center;
    }
    .papers-tanishq
    {
        width:75px;
        font-size:medium;
        margin-left:10px;
    }
    .left-margin-tanishq
    {
        margin-left:20px;
    }
    .right-margin-tanishq
    {
        margin-right: 20px;
        margin-left:10px;
    }
    .contents-tanishq
    {
        gap:10px;
    }
}