.error-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.error404-heading {
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgb(14, 88, 14); /* Moved the color to the class */
}

.panda-image {
  width: 500px;
  margin-bottom: 0px;
  margin-top: -80px;
}

.error404-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: -20px;
}

.go-back-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: white;
  color: green;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.go-back-button:hover {
  background-color: #e6e6e6;
}
@media (max-width:768px) {
  .panda-image{
    width: 300px;
  }
  
}