.error-container {
    background-color:#575757;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .panda-image {
    width: 300px; /* Adjust the size as needed */
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .go-back-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .go-back-button:hover {
    background-color: #e6e6e6;
  }
  
#text-color
{
    color: rgb(14, 88, 14);
}