.exam-list-container {
  padding: 20px;
  background-color: #1A1A1A;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  color: white;
}

.create-new-button {
  padding: 10px 20px;
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.create-new-button:hover {
  background-color: #656565;
}

.exam-table {
  margin-top: 60px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.papers_table {
  position: relative;
  margin-bottom: 50px; /* Add space between items */
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.flex-class
{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.hovered-buttons
{
    display: flex;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 1;
    gap: 5px;
}
.hovered-buttons button
{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #282828;
  color: white;
  font-size: large;
  border: 2px solid #282828;
}
.hovered-buttons button:hover
{
  cursor: pointer;
  background-color: #28282880;
}
.hovered-buttons #delete
{
  color: red;
}
 #duplicate
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
#move_to_dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
}
.table-data:hover{
  background-color: #404040;
}
.table-data {
  background-color: #333333;
  margin-bottom: 10px;
  transition: .3s ease-in-out;
  z-index: 0;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  text-align: left;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
  border: none;
  position: relative;
  gap: 4px;
}

.classhead {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

.subname {
  color: white;
  font-size: 16px;
}

.scheduled {
  color: #FF6206;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.exam-table tr:hover {
  background-color: #333333;
}

.icon-button-wrapper {
  display: flex;
  align-items: center;
}

.plus-icon-create {
  margin-right: 15px;
  color: white;
}


/* Media Query for responsive design at 768px */
@media screen and (max-width: 768px) {
 .create-new-button{
  padding: 5px 10px;
 }
 .plus-icon{
  margin-right: 10px;
  font-size: 15px;
 }
  .header h2{
    font-size: 16px;
  }
 .classhead{
  margin-top: 20px;
 }
  .table-data {
    padding: 15px;
  }

  .scheduled {
    position: absolute;
        left: 15px;
        top: 12px;
        padding: 2px;
  }
}


/* ready paper Dashboard Css */

.readyDasboardwarning{
  color: red;
}

/*----------------Completed Papers------------ */

.evaluation
{
  font-size: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #282828;
  border-radius: 3px;
}
.Evaluated
{
    color: green;
    width: 110px;
}
.Not-Evaluated
{
    color: red;
    width: 145px;
}
.Evaluation-in-Progress
{
  color: yellow;
  width: 210px;
}
.evaluation-attemption
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.attemption
{
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #282828;
  border-radius: 3px;
  height: 30px;
  justify-content: center;
}
.Attempted
{
  width: 110px;
  color: green;
}
.Not-Attempted
{
  width: 140px;
  color: red;
}
.student-image-name
{
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 10px;
}
.student-image {
  width: 100px;
  height: 100px;
}

.student-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.student-image img
{
  width: 100%;
  height: 100%;
}
.student-name
{
  margin-top: -45px;
}
@media screen and (max-width: 768px) {
  .student-image {
    width: 80px;
    height: 80px;
  }
  .student-image-name
  {
    gap: 10px;
  }
  .student-name
  {
    margin-top: -25px;
  }
}

/* Media Query for extra small screens */
@media screen and (max-width: 480px) {
  .student-image {
    width: 60px;
    height: 60px;
  }
}